@charset "utf-8";

fieldset {
  text-align: center;
}

article.item {
  display: flex;
  display: -webkit-flex;
  margin: 0 auto;
  padding: 10px;
  max-width: 500px;
  text-align: center;
  justify-content: space-between;
}

/* Lists */
#unfinisedList article.item:nth-child(odd) {
  background-color: rgba(204, 146, 67, 0.5);
}
#finisedList article.item:nth-child(odd) {
  background-color: rgba(0, 100, 0, 0.7);
}
#unfinisedList article.item:hover {
  background-color: rgba(150,0,0,0.5);
}
#finisedList article.item:hover {
  background-color: rgba(0,150,0,0.5);
}

/* Checkbox on the list */
article.item .checkbox {
  margin: auto 0;
}
/* Item Name on the list */
article.item .itemName {
  margin: 0 10px;
}

/* Buttons 
*****/
article.item .delete {
  background-color: rgb(177, 0, 0);
}

article.item .apply {
  background-color: rgb(0, 150, 0);
}

button {
  width: 50px;
  color: white;
  background-color: rgb(0, 30, 200);
  padding: 5px;
}